.box{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    /**Hover Off**/
    -webkit-transition: background, width, height 2s ease;
    transition: background, width, height 2s ease;

}

.box:hover{
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(blue,green);
    /**Hover On**/
    -webkit-transition: background, width, height 2s ease;
    transition: background, width, height 2s ease;
}

