body{
	width:90%;
	overflow:hidden;
}
.box1{
	width:200px;
	height:200px;
	background-color: red;
	opacity:0.5;
	position:absolute;
	left:70%;
	


	-webkit-animation: movingbox 5s infinite;

}

.box2{
	width:200px;
	height:200px;
	background: blue ;
	opacity:0.5;
	position: absolute;
	left:40%;
	
	
}

@-webkit-keyframes movingbox{
	0%{left:90%;-webkit-transform: translateY(-10px) rotate(0deg);}
	50%{left:10%;-webkit-transform: translateY(0px) rotate(180deg);}
	100%{left:90%;-webkit-transform: translateY(-10px) rotate(360deg);}
}